<h2>Free, open song contest</h2>
<h3>Sign up</h3>
<form action="/signup" method="post">
	E-mail: <input type="text" name="email" placeholder="Your e-mail"><br/>
	Password: <input type="password" name="password"><br/>
	Repeat password: <input type="password" name="password2"><br/>
	Account type: <input type="radio" checked="true" name="type" value="fan">Fan
	<input type="radio" name="type" value="musician">Musician
</form>
<h3>Log in</h3>
<form action="/login" method="post">
	E-mail: <input type="text" name="email" placeholder="Your e-mail"><br/>
	Password: <input type="password" name="password"><br/>
</form>