<!doctype html>
<html lang="<%= I18n.t(:layout_language) %>">
<head>
<meta charset="utf-8">
<title><%= I18n.t(:layout_title) %></title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="/css/bar-ui.css">
</head>
<body>
<section id="content">

<%= yield %>

</section>
</body>
</html>

