<h2><%= I18n.t(:home_title) %></h2>
 <div id="sm2-container">
  <!-- SM2 flash goes here -->
 </div>
<script src="/js/soundmanagerv297a-20150601/script/soundmanager2.js"></script>
<script>
soundManager.setup({
  url: '/js/soundmanagerv297a-20150601/swf/',
  onready: function() {
	var mySound = soundManager.createSound({
	  url: 'http://localhost:3000/songs/Sleep%20Away.mp3'
	});
	mySound.play();
  }
});
</script>