<h2><%= I18n.t(:home_title) %></h2>
<script src="/js/soundmanagerv297a-20150601/soundmanager2.js"></script>
<script>
soundManager.setup({
  // where to find flash audio SWFs, as needed
  url: '/path/to/swf-files/',
  onready: function() {
    // SM2 is ready to play audio!
  }
});
</script>