/* 
pure-buttons.scss
pure-menus.scss
pure-tables.scss
*/
@import 'pure/base.scss';
@import 'pure/grids.scss';
@import 'pure/grids-responsive.scss';
@import 'pure/forms.scss';
@import 'pure/menus.scss';

nav#navigation {
	@extend .pure-menu-horizontal;
	background-color: #000;
	a {
		color: #fff;
	}
	ul {
		margin: 0;
	}
}
#content {
	@extend .pure-g;
	width: 98%;
	margin: 0 auto;
	font-family: Arial;
	font-size: 13px;
}
section#home {
	@extend .pure-u-1;
}
section#showemail {
	@extend .pure-u-1;
	@extend .pure-u-md-2-3;
	@extend .pure-u-lg-4-5;
	textarea {
		width: 80%;
	}
	background-color: #eef;
}
section#showperson {
	@extend .pure-u-1;
	@extend .pure-u-md-1-3;
	@extend .pure-u-lg-1-5;
	background-color: #ffd;
}
form {
	@extend .pure-form;
}
#personeditform, #replyform, #urladd, #statadd, #newemail {
	@extend .pure-form-stacked;
}
#urllist form, #statlist form {
	display: inline;
}
form#emailform textarea {
	height: 20em;
}
form#replyform textarea {
	height: 10em;
}
#emailactions form {
	display: inline;
}
input.longtext {
	width: 70%;
}
.big {
	font-size: 1.5em;
}
.hidden {
	display: none;
}
#showperson ul {
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 0.5em;
	}
}
