<blockquote cite="http://musicthoughts.com/t/<%= thought[:id] %>">
	<q><%= thought[:thought].gsub("\n", '<br>') %></q>
	<cite><a href="/t/<%= thought[:id] %>"><%= thought[:author][:name] %></a></cite>
</blockquote>

