<section id="formletters">
<h1>Form letters:</h1>

<form action="/formletters" method="post">
	<input name="title" placeholder="title (must be unique)">
	<input type="submit" value="add new">
</form>

<dl>
<% @formletters.each do |f| %>
	<dt><a href="/formletter/<%= f[:id] %>"><%= f[:title] %></a></dt>
	<dd><%=h f[:explanation] %></dd>
<% end %>
</dl>
</section>
