<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @pagetitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/inbox.css">
</head>
<body>
<nav id="navigation">
	<ul>
		<li><a href="/">inbox</a></li>
		<li><a href="/search">search</a></li>
		<li><a href="/formletters">formletters</a></li>
		<li><a href="/countries">where</a></li>
		<li><a href="/stats">stats</a></li>
		<li><a href="/merge">merge</a></li>
	</ul>
</nav>
<div id="content">

<%= yield %>

</div>
</body>
</html>

