<!doctype html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Wood Egg: <%= @pagetitle %></title>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="/css/woodegg.css" />
</head>
<body>
<div id="page">

<section id="content">

<%= yield %>

</section>

</div>
</body>
</html>

